[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
kaggle = "*"
numpy = "*"
pandas = "*"
nltk = "*"
sklearn = "*"
jupyter = "*"
seaborn = "*"
matplotlib = "~=3.0.3"
pycodestyle = "*"
flake8 = "*"
pycodestyle-magic = "*"

[requires]
python_version = "3.7"
